.details {
	.detailsRows {
		padding: 1rem;
		border-bottom: 1px solid #ccc;
		margin-bottom: 1rem;
		h6 {
			margin-bottom: 0;
		}
	}
	.detailsDesc {
		span {
			color: #666666;
			font-size: 14px;
		}
	}
}
