@import '../../Style/variable';

.eliglibleSch {
  .eligibleSchemeParent {
    .card-header {
      &:first-child {
        padding-top: 1rem;
      }
    }
    .chkForm {
      label {
        text-decoration: underline;
      }
      input {
        cursor: pointer;
      }
    }
    margin-bottom: 2rem;
    .applyScheme {
      margin: 0;
      padding: 0.5rem;
      width: fit-content;
      cursor: pointer;
      font-size: 14px;
      background-color: $darkGreen;
      color: $white;
      border-radius: 5px;
      margin-left: auto;
    }
    .active {
      background: #00c1b2;
      color: #000;
    }    
  }
  .sendForApproval {
    width: auto;
    margin: auto;
    border: 0;
    background-color: $darkGreen;
    color: $white;
    padding: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    &.PendingBg {
      background: $marqueeBg;
      color: $darkGreen;
      cursor: not-allowed;
      z-index: -1;
    }
  }
  .totalSelection {
    margin-bottom: 2rem;
    .statusDiv {
      margin: 0;
      padding: 1rem;
      border-radius: 5px;
      box-shadow: $boxShadow2;
      background: rgb(9,121,33);
      background: linear-gradient(9deg, rgba(9,121,33,1) 8%, rgba(0,212,255,1) 100%);
      h3 {
        color: $white;
      }
    }
  }
}
